<?xml version="1.0"?>
<config>
    <modules>
        <Codetildawn_Promotional>
            <version>0.1.0</version>
        </Codetildawn_Promotional>
    </modules>
    <frontend>
        <routers>
            <promotional>
                <use>standard</use>
                <args>
                    <module>Codetildawn_Promotional</module>
                    <frontName>promotional</frontName>
                </args>
            </promotional>
        </routers>
        <layout>
            <updates>
                <promotional>
                    <file>promotional.xml</file>
                </promotional>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <promotional_admin>
                <use>admin</use>
                <args>
                    <module>Codetildawn_Promotional</module>
                    <frontName>promotional_admin</frontName>
                </args>
            </promotional_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <promotional>
                    <file>promotional.xml</file>
                </promotional>
            </updates>
        </layout>
		<events>
			<admin_session_user_login_success>
				<observers>
					<codetildawn_promotional_admin_login>
						<type>singleton</type>
						<class>promotional/observer</class>
						<method>adminlogin</method>
					</codetildawn_promotional_admin_login>					
				</observers>
			</admin_session_user_login_success>
		</events>
    </adminhtml>
    <global>
        <models>
            <promotional>
                <class>Codetildawn_Promotional_Model</class>
                <resourceModel>promotional_mysql4</resourceModel>
            </promotional>
            <promotional_mysql4>
                <class>Codetildawn_Promotional_Model_Mysql4</class>
                <entities>
                    <promotional>
                        <table>promotional_popup</table>
                    </promotional>
                </entities>
            </promotional_mysql4>
        </models>
        <resources>
            <promotional_setup>
                <setup>
                    <module>Codetildawn_Promotional</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promotional_setup>
            <promotional_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </promotional_write>
            <promotional_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </promotional_read>
        </resources>
        <blocks>
            <promotional>
                <class>Codetildawn_Promotional_Block</class>
            </promotional>
        </blocks>
        <helpers>
            <promotional>
                <class>Codetildawn_Promotional_Helper</class>
            </promotional>
        </helpers>
    </global>
    <default>
        <promotional>
            <general>
				<status>1</status>
                <auto_hide>30</auto_hide>
                <default_position>2</default_position>
                <cookies_lifetime>3600</cookies_lifetime>
            </general>
        </promotional>
    </default>
</config>