*.DS_Store
*.pbxuser
*.vagrant
*.idea
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.buildpath
*.cache
*.metadata
*.project
*.settings
*.actionScriptProperties
*.flexProperties
*.flexLibProperties
**.old
**.bak
**.zip
**.bz2
*.modman
.modgit/
.modman/
app/code/community/Cm/
app/etc/modules/Cm_*
app/etc/local.xml*
app/etc/applied.patches.list
app/etc/enterprise.xml
downloader/
blog/wp-config.php
blog/wp-content/updraft
lib/Credis
media/catalog/product/
media/cache/
media/downloadable/
media/email/
media/import/
media/tmp/
media/videomanager/
media/wysiwyg/
media/catalog.tar*
bridge2cart/backup/
media/windsorcircle_export/
mysql/
cdn/
nbproject/
var/
wordpress/wp-config.php
wordpress/wp-content/uploads/
index.php.sample
install.php
lib/.htaccess
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
RELEASE_NOTES.txt
404-html.html
index.php.sample
clear_cache.php
clear_old_cache.php
clear_apc_cache.php
gitpull.php
gitStatus.php
info.php
i.php
store_default.lock
google_base_default.txt
sitemap.xml

